<script>

	var audioCtx = new (window.AudioContext || window.webkitAudioContext)();

// create Oscillator

	var oscillator = audioCtx.createOscillator();
		oscillator.type = 'sine';
		oscillator.frequency.value = 300; // value in hertz
		oscillator.start();
	function startSound() {
		console.log('startSound')
		oscillator.frequency.value = Math.floor(Math.random() * (300 - 1000 + 1)) + 700; // value in hertz // value in hertzz
		oscillator.connect(audioCtx.destination);	
	}
	function stopSound() {
		console.log('stopSound')
		oscillator.disconnect(audioCtx.destination);
	}
// create secondOscillator

	var secondOscillator = audioCtx.createOscillator();
		secondOscillator.type = 'sine';
		secondOscillator.frequency.value = Math.floor(Math.random() * (500 - 900 + 1)) + 500; // value in hertz
		secondOscillator.start();
	function startSecondSound() {
		console.log('startSound')
		secondOscillator.frequency.value = Math.floor(Math.random() * (900 - 1500 + 1)) + 900; // value in hertz
		secondOscillator.connect(audioCtx.destination);	
	}
	function stopSecondSound() {
		console.log('stopSound')
		secondOscillator.disconnect(audioCtx.destination);
	}

	function timeoutStart(){
		console.log(timeoutStart)
     window.onload = setInterval(function(){
       startSound()
    },1200);
}

	function timeoutSecondStart(){
		console.log(timeoutStart)
     window.onload = setInterval(function(){
       startSecondSound()
    },500);
}

	function repeatingSound() {
		for (i = 0; i < 10; i++) {
			console.log('this');
			timeoutStart()
			timeoutStop();	
			console.log(i);
		}
	};
	timeoutStart()
	timeoutSecondStart()


	// function timeoutStart(){
	// 	console.log(timeoutStart)
 //    	window.onload = setInterval(function(){
 //        	setTimeout(startSound, 2000);
	//         stopSound();
 //    	}, 1200);
 //    }	
</script>

<h1>Good luck</h1>

<!-- <h1>thing</h1>
<button onClick="startSound()">start osc</button>

<button onClick="stopSound()">stop osc</button>

<h1>second thing</h1>
<button onClick="startSecondSound()">start osc</button>

<button onClick="stopSecondSound()">stop osc</button> -->